.main {
    height: 100%;

}

.title_container {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.logo_container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_container {
    width: 85%;
    height: 80%;
}

.p_title {
    font-family: monospace;
    font-size: 3.5vw;
    font-weight: 600;
}

.p_desc_header {
    font-family: monospace;
    font-size: 1vw;
    font-weight: 300;

}

.p_desc_details {
    font-family: monospace;
    font-size: 0.75vw;
    font-weight: 100;

}


.description_container {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

}

