.main {
    height: 100%;
}

.p_desc_header {
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 300;

}

.p_desc_details {
    font-family: monospace;
    font-size: 2.5em;
    font-weight: 100;
    padding-left: 2%;
    padding-right: 2%;

}


.description_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}